
header{
  background-color: #4ea0ff;
  background-image: url('/img/pattern.png');
  background-size: 25%;
}

/* LOGO */
header .boxlogo {
width: 150px;
height: auto;
padding-left: 0.5%;
}

header #logo{
width: 90%;
padding-top: 20%;
}
/* /LOGO */

/* TITOLO ARTICOLO */
main .titolo-articolo h1{
margin-bottom: 0;
}

main #data {
  margin-top: 0;
  font-size: 12px;
}

main #boxautore{
  margin-bottom: 0;
}

main #data, #boxautore {
  margin-top: 0;
  color: #9b9b9b;
}

main #autore{
  color: #00abe5;
}
/* /TITOLO ARTICOLO */

/* GALLERIA */

main .didascalie{
  color: grey;
  font-size: 12px;
}
main .didascalie p{
  margin-top: 0;
  margin-bottom: 0;
}

/* /GALLERIA */

/* ARTICOLO */

main .articolo{
  margin-bottom: 50px;
}
main .testo-evidenziato{
  background-color: #FFFF00;
}

main .lista-non-ordinata{
  margin-left: 0;
}

/* /ARTICOLO */